<app-header></app-header>

<div class="video-container">
    <div class="video-wrapper">
        <video width="100%" controls [src]="videoSource" type="video/mp4"></video>
    </div>
   
    <div class="video-details">
        <div class="title-row">
            <h1><strong>{{ video?.title }}</strong></h1>
            <div *ngIf="this.user_id === video?.user_id || this.role === 'admin'" class="title-row-buttons">
                <button (click)="updateVideo()" mat-icon-button matTooltip="Edit video">
                    <mat-icon>edit</mat-icon>
                </button>
                <span class="button-space"></span>
                <button (click)="deleteVideo()" mat-icon-button matTooltip="Delete video">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </div>
        </div>
        <mat-button-toggle-group #group="matButtonToggleGroup" name="rate" aria-label="Rate">
            <mat-button-toggle #like value="like" (click)="rateVideo()">
                <mat-icon>thumb_up</mat-icon>
                <span> {{ video?.likesCount }}</span>
            </mat-button-toggle>
            <mat-button-toggle #dislike value="dislike" (click)="rateVideo()">
                <mat-icon>thumb_down</mat-icon>
                <span> {{ video?.dislikesCount }}</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
        <p><strong>Uploaded by:</strong> {{ video?.username }}</p>
        <p><strong>Upload Date:</strong> {{ video?.upload_date | date:'yyyy.MM.dd.' }}</p>
        <p><strong>Views:</strong> {{ video?.views }}</p>
        <p><strong>Description:</strong> {{ video?.description }}</p>
        <div class="comment-row">
            <h2><strong>Comments:</strong></h2>
            <button mat-raised-button color="accent" type="button" (click)="commentOnVideo()">Comment</button>
        </div>
        <div class="display-comments">
            <table mat-table [dataSource]="dataSource!">
              <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef class="display-cell"> User </th>
                <td mat-cell *matCellDef="let comment" class="display-cell">{{comment.username}}</td>
              </ng-container>
          
              <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef class="display-cell"> Comment </th>
                <td mat-cell *matCellDef="let comment" class="display-cell long-comment">{{comment.comment}}</td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="display-cell"> Delete </th>
                <td mat-cell *matCellDef="let comment" class="display-cell">
                    <button mat-icon-button *ngIf="comment.user_id === this.user_id || this.role === 'admin' || (this.role === 'channelOwner' && this.video?.user_id === this.user_id)" (click)="deleteComment(comment._id)" matTooltip="Delete comment" matTooltipPosition="right">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page">
            </mat-paginator>
        </div>

    </div>
</div>
