<app-header></app-header>

<div>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Role Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td>{{user.roleType}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <video width="1280" height="720" controls [src]="videoSource" type="video/mp4"></video>
</div>