.fixed-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.title {
    cursor: pointer;
}

.buttons-container {
    display: flex;
    align-items: center;
  }

.button-space {
    margin-left: 16px;
}

.login-button {
    padding-right: 10px;
}
  
.spacer {
    flex: 1 1 auto;
}